alabaster==0.7.12
arrow==0.14.5
asn1crypto==0.24.0
astroid==2.2.5
astropy==3.1.2
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
binaryornot==0.4.4
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
bokeh==1.0.4
boto==2.49.0
Bottleneck==1.2.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle
clyent
colorama
comtypes==1.1.7
contextlib2==0.5.5
cookiecutter==1.6.0

cycler==0.10.0
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.0
defusedxml==0.5.0
distributed==1.26.0
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==1.0.2
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.0.0
ipykernel==5.1.0
ipyparallel==6.2.4
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jinja2-time==0.2.0
jp==0.2.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
keyring
kiwisolver
lazy-object-proxy
llvmlite
locket
lxml
MarkupSafe
matplotlib
mccabe
metakernel
mistune
mkl-fft
mkl-random
more-itertools
mpmath
msgpack
multipledispatch
nbconvert
nbformat
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
oct2py
octave-kernel
olefile
opencv-contrib-python
opencv-python
opencv-rolling-ball
openpyxl
packaging
pandas
pandocfilters
parso
partd
path.py
pathlib2
patsy
pep8
pexpect
pickleshare
Pillow
pluggy
ply
poyo
prometheus-client
prompt-toolkit
psutil
ptyprocess
py
pycodestyle
pycosat
pycparser
pycrypto
pycurl
pyflakes
Pygments
pylint
pyodbc
pyOpenSSL
pyparsing
pyreadline
pyrsistent
PySocks
pytesseract
pytest
pytest-arraydiff
pytest-astropy
pytest-doctestplus
pytest-openfiles
pytest-remotedata
python-dateutil
pytz
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
QtAwesome
qtconsole
QtPy
requests
rope
ruamel-yaml
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
singledispatch
six
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
statsmodels
sympy
tables
tabulate
tblib
terminado
testpath
toolz
tornado
traitlets
typed-ast
unicodecsv
urllib3
wcwidth
webencodings
Werkzeug
whichcraft
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
wrapt
xlrd
XlsxWriter
xlwings
xlwt
zict
zipp